body{
    height: 100%;
    background-color: #e9ecef;
}
/* #hcontent{
    background-image: url("images/h_img.jpg");
    height: 600px; 
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 150px;
    background-repeat: no-repeat;*/

}
.wel{
    color: white;
}
#content{
    margin: 120px;
    text-align: center;
    padding: 40px;
}
.click{
    animation: 2s infinite;
}
.about{
    text-align: center;
}
.about h2{
    font-size: 3em;
    font-weight: bolder;
}
.services{
    background-image: url("images/s_image.jpg");
    text-align: center;
    height:300px ;
    margin-top:50px ;
    display: block;
    padding-top: 50px;
    color: white;
}
.WWD{
    text-align: center;
}
.row p{
    display: none;
}
.WWD h2{
    font-size: 3em;
    font-weight: bolder;
    padding-top: 50px;
}
.WWD h3{
    font-weight: bold;
    padding-top: 10px;
}
/* This code positions all portfolio images and aligns them */
.portfolio img{
    width: 100%;
}
.portfolio h4{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding-top: 50px;
}
/* This code designs the  contact form and and contact back ground image */
.con{
    padding-top: 50px;
}
.contact{
    background-image: url("images/c_image.jpg");
    height: auto;
    background-size: cover;
    background-position: center;
    display: block;
    padding-top: 50px;
}
form{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
#name{
    border: 1pt black solid;
    background-color: transparent;
}
h5{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}
.btn{
    margin-left: 445px;
}
/* This designs the social media icons */
#icons li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
#icons{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

