body{
    height: auto;
    background-color: #e9ecef;
}
#hcontent{
    background-image: url("images/h_img.jpg");
    height: 700px; 
    background-position: center center;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 200px;
    padding-top: 10px;
    padding-bottom: 150px; 
    background-repeat: no-repeat;

}
.wel{
    color: white;
}
#content{
    margin: 120px;
    text-align: center;
    padding: 40px;
}
.click{
    animation: 2s infinite;
}
.about{
    margin-top: 200px;
    text-align: center;
}
.about h2{
    font-size: 3em;
    font-weight: bolder;
}
.services{
    background-image: url("images/s_image.jpg");
}